html {
    scroll-behavior: smooth;
}

img {
    border-style: groove;
}

.responsive {
    width: 100%;
}
.nav-link {
    border: none;
    background: none;
}

.header {
    text-align: center;
    margin: auto;
}

.carousel-image {
    margin: auto;
}

.container {
    text-align: center;
    align-content: center;
}

li {
    list-style-type: none;    
}

#portfolio {
    visibility: hidden;
}




/* #body {
    margin-left: 10%;
    margin-right: 10%;
} */

/* #carouselExampleCaptions {
    border-style: solid;
    margin: auto;
} */

/* .carousel-button {
    margin: auto;
    text-decoration-color: maroon;
} */