html {
    scroll-behavior: smooth;
}

body {
    background-color: wheat;
}

img {
    /* border-style: groove; */
    border-radius: 5px;
}

nav {
    background-color: wheat;
}

.responsive {
    width: 100%;
}
.nav-link {
    border: none;
    background: none;
}

.header {
    text-align: center;
    margin: auto;
}

.carousel-image {
    margin: auto;
}

.container {
    text-align: center;
    align-content: center;
}

li {
    list-style-type: none;    
}

p {
    font-size: large;
}

#portfolio {
    visibility: hidden;
}